.closeBtn {
  position: absolute;
  top: 2vh;
  right: 2vh;
  padding: 2px;
  background-color: aliceblue;
  color: rgb(209, 79, 79);
  font-weight: 900;
  border-radius: 25px;
  border-style: hidden;
}
